<div class="container">
    <h3>Thinking about delivering the mystery events yourself?</h3>
    <br>


    <p><b>You can!</b> It is important to us that all our customers have the option of keeping the contact details of
        the
        recieving
        kid
        detective private. However, because our mystery events are only sent out after the previous event has been
        completed
        online, it can be tricky to know when to give the detective their next set of clues. For that reason, we offer
        three
        delivery options. They are:</p>
    <ol>
        <li>We deliver them directly to the detective at the shipping address for the detective that you provide.
        </li>
        <li>You opt have the events sent to your billing address and we ship each one when it's the right time so you
            can
            deliver
            it to
            your
            kid detective in person.</li>
        <li>We send all events to you at once and you keep track of the detective's progress and deliver each event when
            it's time.</li>
    </ol>

    <p>Just before you decide which option is for you, we wanted to remind you that:</p>

    <ul>
        <li>including a last name for the detective is optional
        <li>we will NEVER sell or use any personal data that you give us for any other reason without your consent</li>
        <li>all data we collect is kept secure</li>
        </li>

    </ul>

    <p>Unfortunately, if events are
        lost or damaged after they reach you, we cannot resend them. We can, however, offer a digital version.</p>

    <p>If you still have any questions or concerns, please feel free to reach out to us through our contact form on our
        <a href="/about">About page</a> .</p>


</div>