<div class="jumbotron text-left"
     id="login-title-jumbotron">
    <h2 class="display-3">{{title}}</h2> <!-- make in routes.js -->
</div>

<div class="card card-body">
    <h1 class="page-header">Add An Admin User</h1>
    <form action="/admin/addAdmin"
          method="post"
          id="admin-registration-form">

        <!-- email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   name="email"
                   value="{{email}}"
                   required>
        </div>

        <!-- first name -->
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text"
                   class="form-control"
                   name="firstName"
                   value="{{firstName}}"
                   required>
        </div>

        <!-- last name -->
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text"
                   class="form-control"
                   name="lastName"
                   value="{{lastName}}"
                   required>
        </div>

        <!-- password -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   name="password"
                   required>
        </div>

        <!-- confirm password -->
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   name="confirmPassword"
                   required>
        </div>

        <button type="submit"
                class="btn btn-primary"
                id="btnAddAdmin">Submit</button>
    </form>
</div>