<form action="/admin/addMystery"
      method="post">

    <div class="form-group">
        <label for="title">Mystery Title</label>
        <input type="text"
               class="form-control"
               name="title"
               placeholder="Title of Mystery"
               required>
    </div>

    <!-- first name -->
    <div class="form-group">
        <label for="firstName">Reference name</label>
        <input type="text"
               class="form-control"
               name="name"
               required
               autofocus
               placeholder="Short Name for Reference">
    </div>


    <button type="submit"
            class="btn btn-primary">Edit</button>

</form>