<div class="jumbotron text-left"
     id="index-title-jumbotron">
    <h2 class="display-3">{{title}}</h2> <!-- make in routes.js -->
</div> <!-- 2 curly braces renders variable passed to page from routes.js render -->


<div class="container">

    <h1 class="page-header">Welcome to The Mystery Bureau</h1>

    <p class="reg-body">Here is some regular body text.</p>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add New Admin user</h5>
                    <p class="card-text">Create a new user with admin priviledges. </p>
                    <a href="/admin/addAdmin"
                       class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add New Mystery</h5>
                    <p class="card-text">Add a new mystery to the mysteries available.</p>
                    <a href="/admin/addMystery"
                       class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>