<nav class="navbar fixed-top navbar-expand-lg navbar-dark ">

    <div class="collapse navbar-collapse"
         id="navbarNav">
        {{!-- right side of navbar --}}


        {{!-- left side of nav bar --}}
        <ul class="navbar-nav ml-auto">
            </li>
            {{#if req.session.orderDetails}}
            {{!-- customer list page --}}
            <li class="nav-item">
                <a href="/detective/dashboard/"
                   class="nav-link">Detective Dashboard</a>
                {{!-- profile page --}}
            <li class="nav-item">
                <a class="nav-link"
                   href="/detective/logout">Logout</a>
            </li>
            {{else}}
            {{!-- logout --}}
            <li class="nav-item">
                <a class="nav-link"
                   href="/detective/login">Login</a>
            </li>
            {{/if}}

        </ul>
    </div>
</nav>