<div class="jumbotron text-left"
     id="index-title-jumbotron">
    <h2 class="display-3">{{title}}</h2> <!-- make in routes.js -->
</div> <!-- 2 curly braces renders variable passed to page from routes.js render -->


<div class="container">

    <h1 class="page-header">Welcome to The Mystery Bureau</h1>

    <p class="reg-body">The Mystery Bureau offers a unique online-offline experience for young, intreptid detectives. We
        are always looking for curious minds to try and solve our toughest mysteries.</p>

    <p class="reg-body">After a young agent has been signed up, we will send them a series of mailed clue packages that
        they will can use to help us progress in the case. Then they log into their personal case dashboard and report
        their findings.</p>

    <p class="reg-body">We will then take their discoveries, do some sluthing on our end, and send them another clue
        package, until the mystery is solved.</p>

    <p class="reg-body">It is designed to be an immersive, online-offline, experience for kids, who can use their
        critical thinking and keen analytical skills to solve the world's toughest cold cases we have here at The
        Mystery Bureau. </p>

</div>