<div class="jumbotron text-left"
     id="about-title-jumbotron">
    <h2 class="display-3">{{title}}</h2> <!-- make in routes.js -->
</div> <!-- 2 curly braces renders variable passed to page from routes.js render -->

<div class="container">

    <h1 class="page-header">About the Mystery Bureau</h1>

    <p class="reg-body">The mystery bureau is run by eager, and excited folks who love a good puzzle!</p>

    <div class="container">
        Agent name: <p class="text-capitalize">{{haiku}}</p>
        Password: <p class="text-capitalize">{{password}}</p>

    </div>

</div>