<p class="reg-body">You've answered all your questions for now. You can either go to the dashboard to look at your
    materials online or log
    out until we send you your next clue package.</p>

<form class="form-group"
      action="/detective/dashboard"
      method="get">

    <button type="submit"
            class="btn btn-next float-right">Dashboard</button>

</form>

<form class="form-group"
      action="/detective/logout"
      method="get">

    <button type="submit"
            class="btn btn-next float-right">Logout</button>

</form>