<div class="jumbotron jumbotron-fluid text-left"
     id="detect-dash-title-jumbotron">
    <h2 class="display-3"></h2> <!-- make in routes.js -->
</div> <!-- 2 curly braces renders variable passed to page from routes.js render -->

<div class="container">

    <p class="body-title">You are currently working on: {{title}}</p>

    <p class="reg-body">We have new questions for you based on our most recent shipment of information and clues:</p>
    <ol>

        <li>Event Item 1</li>
        <li>Event Item 2</li>
        <li>Event Item 3</li>
        <li>Event Item 4</li>
        <li>Event Item 5</li>
        <li>Event Item 6</li>

    </ol>

    <div class="container">
    </div>
</div>