{{!-- source: https://codepen.io/chrisnager/pen/yfwgE --}}
<div class="loader">
    Detective Login Page
    <span class="loader__dot">.</span>
    <span class="loader__dot">.</span>
    <spanclass="loader__dot">.</span>
</div>

<img src="/public/img/MBLogo.png"
     alt="The Mystery Bureau Logo"
     id="detectiveLoginLogo"
     class="img-fluid mx-auto d-block"
     alt="Responsive image">