<div class="jumbotron jumbotron-fluid text-left"
     id="detect-dash-title-jumbotron">
    <h2 class="display-3"></h2> <!-- make in routes.js -->
</div> <!-- 2 curly braces renders variable passed to page from routes.js render -->

<div class="container">

    <p class="body-title">Your questions for: {{title}} {{eventNumber}}</p>

    <p class="reg-body">We have new questions for you based on our most recent shipment of information and clues:</p>
    <ol>

        <li>Question 1</li>
        <li>Question 2</li>
        <li>Question 3</li>
        <li>Question 4</li>
        <li>Question 5</li>
        <li>Question 6</li>

    </ol>

    <div class="container">
    </div>
</div>