<div class="jumbotron jumbotron-fluid text-left"
     id="detect-dash-title-jumbotron">
    <h2 class="display-3"></h2> <!-- make in routes.js -->
</div> <!-- 2 curly braces renders variable passed to page from routes.js render -->

<div class="container">

    <p class="body-subtitle">Your questions for: {{mystery.title}}, Clue Pack {{currentEvent.eventNumber}}</p>

    <p class="reg-body">We have new questions for you based on our most recent shipment of information and clues:</p>

    {{#each currentEvent.questions}}

    <div class="card">
        <div class="card-body question-card">
            <p>{{this.question}}</p>
            <textarea class="question-answer"></textarea>
        </div>
    </div>

    {{/each}}
    </ol>
    <div class="container">
        <form action="">
            <form class="form-group"
                  action="/detective/submitAnswers?_method=PUT"
                  method="post">
                <input type="hidden"
                       name="_method"
                       value="PUT">

                <div class="row">
                    <div class="col-12">
                        <button type="submit"
                                class="btn btn-primary float-left"
                                id="btnBackDash">Back</button>


                        <button type="submit"
                                class="btn btn-next float-right"
                                id="btnSubmitAnswers">Submit Answers</button>
                    </div>
                </div>
            </form>
    </div>
</div>